body{
    background-color: rgb(255, 255, 255);
}

.div-product{
 display: flex;
 justify-content: space-between;   
}



h1{
    text-align: center;
}

.goods_image{

  margin-left: 40px;
  height: 100%;
  width: 45%;
}

.product_info{
  display: flex;
  justify-content: center;
  align-items:start;
  margin-right: 40vh;
}

a{
    text-decoration: none;
    color: #fff;
}

.buttons{
    display: flex;
    margin-top: 50px;
    margin-bottom: 10px;
}


.button-3 {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .button-3:hover {
    background-color: #2c974b;
  }
  
  .button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .button-3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }

  form input[type="submit"] {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-left: 15px;
    width: 85px;
    padding: 10px; /* Добавим отступы для красивого вида */
    background-color: red; /* Задаем красный цвет фона */
    color: white; /* Задаем белый цвет текста */
    border: none; /* Убираем границу кнопки */
    cursor: pointer; /* Делаем курсор указателя при наведении */
    border-radius: 10px; /* Закругляем углы */
  }